services/ledger/bin/
services/ledger/.env
services/payments/node_modules/
services/payments/.env
services/trustpay-backend/node_modules/
services/trustpay-backend/.env
services/compliance/node_modules/
services/compliance/.env
services/gateway/node_modules/
services/gateway/.env
services/identity/node_modules/
services/identity/.env
services/cards/node_modules/
services/cards/.env
services/checkout/node_modules/
services/checkout/.env
*.log
